---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";
---

<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center mx-auto space-y-4">
      <Title>Destinations</Title>
      <div class="flex justify-center gap-4">
        <div
          class="w-1/3 flex flex-col justify-between items-center text-black gap-5"
        >
          <img class="h-72 aspect-square" src="/images/about1.webp" alt="" />
          <div class="text-xl font-semibold">Indulge in Italy</div>
          <div class="text-center">
            Embark on a journey to Italy for a sensory feast, where ancient
            history, art, and delectable cuisine converge. From the iconic
            landmarks of Rome to the charming canals of Venice, Italy promises
            an enriching tapestry of culture and flavors.
          </div>
        </div>
        <div
          class="w-1/3 flex flex-col justify-between items-center text-black gap-5"
        >
          <img class="h-72 aspect-square" src="/images/paris.webp" alt="" />
          <div class="text-xl font-semibold">Escape to Paris</div>
          <div class="text-center">
            Explore Alaska to witness breathtaking landscapes, from towering
            glaciers and pristine fjords to vast wilderness, offering an
            immersive experience in nature's grandeur. Immerse yourself in the
            unique Alaskan culture, where wildlife encounters and outdoor
            adventures create unforgettable memories in the Last Frontier.
          </div>
        </div>
        <div
          class="w-1/3 flex flex-col justify-between items-center text-black gap-5"
        >
          <img class="h-72 aspect-square" src="/images/alska.webp" alt="" />
          <div class="text-xl font-semibold">Explore Alaska</div>
          <div class="text-center">
            "Paris beckons with its romantic ambiance and iconic landmarks,
            inviting you to savor exquisite cuisine, stroll along the Seine, and
            immerse yourself in the timeless allure of art and history."
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
