---
import Title from "../components/shared/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cancellation and Refund Policy">
  <section class="p-12 text-center space-y-12 pt-32">
    <Title>Cancellation and Refund Policy</Title>
    <div class="space-y-3 text-left">
      <p>
        Tickets are Non-Refundable/Non-Transferable, and name changes are not
        permitted.
      </p>
      <p>
        Date and routing changes will be subject to Airline Penalty and Fare
        Difference, if any, Please contact 203-572-2298
      </p>
      <p>
        Fares are not guaranteed until ticketed. For any modification or
        changes, don't hesitate to get in touch with our Travel Consultant on
        518-293-2478. All customers are advised to verify travel documents
        (transit visa/entry visa) for the country they are transiting and
        entering. We will not be responsible if proper travel documents are not
        available and you are denied entry or transit into a Country. We request
        you consult the embassy of the country(s) you are visiting or transiting
        through.
      </p>

      <p>
        We value your business and look forward to serving your travel needs
        shortly.
      </p>
      <p>
        For any modification or any other query, please contact our Travel
        Consultant on 518-293-2478.
      </p>
      <p>
        These terms and conditions ("terms of use") apply to you right the
        moment you access and use Book World Trip: its services, products, and
        contents. It is a legal agreement between you and Global Flight Station.
        You must read all the information carefully as you agree to these terms
        and conditions while accessing or using any services, products, or
        contents of Book World Trip.
      </p>

      <p>Travelers Name</p>

      <p>
        The traveler's First name and Last name must be entered during the time
        of reservation, precisely as it appears on your Government- see how you
        interact with it. By accepting, you agree to our use of such cookies.
        Privacy Policy.
      </p>

      <p>Fare Policy</p>
      <p>
        All Tickets are not guaranteed until ticketed. The fare may alter as
        revised by the Airline company or dealer anytime, even after confirming
        a reservation.
      </p>
      <p>
        Book World Trip will inform you about the fare changes if made without
        assuming any responsibility -financial or otherwise for any such fare
        alters made by the supplier. Book World Trip will inform you about the
        new fares. Then, you may, depending on your requirement, either purchase
        or cancel the product or service at the new cost. You can also cancel
        the booking at no cost if there is an increase in fare before ticketing
        and your card is being charged. You'll be charged nothing if you cancel
        such a booking.
      </p>
      <p>Payment Policy</p>
      <p>
        Book World Trip accepts Debit Cards and Credit Cards All prices are
        displayed at US$ Book World Trip may divide your total charge into two
        parts: Taxes and Airline Base. But, the combined total amount will be
        the same as authorized and quoted by you at the time of booking. Ticket
        fares don't include baggage fees of the airline Tickets are guaranteed
        after the ticketing is completed. The tickets will not be guaranteed
        upon submission of payment. If your credit card payment fails to proceed
        for any reason, we will notify you about this within 24 hours.
        Third-Party and International Credit & Debit Cards Payment Suppose you
        use an International Debit Card or Credit while purchasing Plane Tickets
        for a personal journey or someone else. In that case, you need to have
        some specific documents for processing passenger E-Tickets. Records
        required for the same have been mentioned below.
      </p>
      <p>A complete 'Credit Card Authorization Form.</p>
      <p>
        A copy of identity proof issued by Government wih front and backside
        which has photograph and signatures
      </p>
      <p>Airline Ticket prices are not guaranteed until ticketed.</p>
      <p>Credit Card Declines</p>
      <p>
        On Credit Card being declined while processing your transaction, we will
        alert you about this by emailing you your valid email id within 24
      </p>

      <p>
        A copy of identity proof issued by Government with front and backside
        which has photograph and signatures Airline Ticket prices are not
        guaranteed until ticketed.
      </p>
      <p>Credit Card Declines</p>
      <p>
        On Credit Card being declined while processing your transaction, we will
        alert you about this by emailing you your valid email id within 24 to 48
        hours. In this case, neither the transaction will be processed, nor the
        fare and any other booking details will be guaranteed.
      </p>
      <p>Cancellations and Exchanges</p>
      <p>
        You agree to request at least 24 hours before scheduled departure for
        all cancellations and exchanges. All flight tickets bought from us are
        100% non-refundable. You, however, reserve the right to entertain a
        refund or exchange if allowed by the airline fare rules associated with
        the ticket(s) issued to you. Your ticket (s) may be refunded or
        exchanged for the original purchase price after the deduction of
        applicable airline penalties and any fare difference between the actual
        fares paid and the fare associated with the new ticket(s). Furthermore,
        Book World Trip has the right to charge Change/Refund fees. Global
        Flight Station has no control over airline penalties related to refunds
        or exchanges.
      </p>
      <p>
        If you travel internationally, you may often be offered to travel in
        more than one airline. Each airline has formed its own set of fare
        rules. If more than one set of fare rules are applied to the total fare,
        the most restrictive laws will apply to the entire booking.
      </p>
      <p>
        Thanks for spending your valuable time and using Book World Trip. For
        using the website, you are authorized to agree with the aforementioned
        'Terms of Use.' If you are reluctant or don't agree with any conditions,
        refrain from using the website or accessing its services
      </p>
    </div>
  </section>
</Layout>
