---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";
const footerNav1 = [
  {
    itemText: "Marketing",
    itemLink: "#",
  },
  {
    itemText: "Analylitics",
    itemLink: "#",
  },
  {
    itemText: "Commerce",
    itemLink: "#",
  },
  {
    itemText: "Insights",
    itemLink: "#",
  },
];

const footerSupport = [
  {
    itemText: "Pricing",
    itemLink: "#",
  },
  {
    itemText: "Guides",
    itemLink: "#",
  },
  {
    itemText: "FAQ",
    itemLink: "#",
  },
  {
    itemText: "Contact",
    itemLink: "#",
  },
];

const footerCompany = [
  {
    itemText: "About",
    itemLink: "/about",
  },
  {
    itemText: "Blog",
    itemLink: "#",
  },
  {
    itemText: "Jobs",
    itemLink: "#",
  },
  {
    itemText: "Parteners",
    itemLink: "#",
  },
  {
    itemText: "Jobs",
    itemLink: "#",
  },
];
const footerLegal = [
  {
    itemText: "Claim",
    itemLink: "/#",
  },
  {
    itemText: "Privacy",
    itemLink: "#",
  },
  {
    itemText: "Terms",
    itemLink: "#",
  },
];
---

<div class="mt-16"></div>
<footer
  class="relative bg-gradient-to-tr from-gray-100 to-gray-200 pt-28 rounded-t-3xl flex flex-col justify-center items-center gap-6"
>
  <div class="flex justify-center items-center gap-6">
    <img class="w-16" src="images/visa.png" alt="" />
    <img class="w-16" src="images/amex.png" alt="" />
    <img class="w-16" src="images/discover.png" alt="" />
    <img class="w-16" src="images/mc.webp" alt="" />
  </div>
  <div>567 Hartford Tpke Hamden, CT 06517</div>
  <div>
    <a class="underline text-blue-500" href="/privacy">Privacy Policy</a>
  </div>
  <div class="text-center font-bold">
    Copyright @ 2024 BookWorldTrip | All Rights Reserved
  </div>
</footer>
